* {
	margin: 0;
	padding: 0;
}

.container-fluid {
	background: url(images/yellow2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portfolio {
	text-align: center;
}

.animals .animals-text p {
	font-size: 17px;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-align: justify;
}

.animal-img {
	width: 250px;
	height: 200px;
	border: 2px solid #9D4634;
	border-radius: 3px;
	margin-top: 4px;
}

.animals .inputs-box label {
	margin-left: 10px;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.animals .inputs-box input {
	border: 2px solid #C16744;
	border-radius: 3px;
}

.animals .inputs-box .btn {
	margin-left: 10px;
	background-color: #C16744;
}

.animals .inputs-box {
	margin-top: 20px;
}

.maximize {
	width: 300px;
	height: 250px;
}

.slider {
	margin-top: 40px;
	width: 300px;
	overflow: hidden;
}

.slider p {
	font-size: 15px;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.slider .beaches-box {
	display: flex;
	transition: transform 1s ease-in-out;
}

.slider .beaches-box img {
	width: 300px;
	border: 2px solid #C14E44;
	border-radius: 3px;
}

.slider .buttons-box {
	display: flex;
	margin-left: 60px;
}

.slider .buttons-box .next {
	width: 80px;
	margin-left: 5px;
}